<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8">
   <title>Get Tweets</title>
   <link rel="stylesheet" href="https://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
   <script src="https://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
   <script src="https://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="jumbotron well">
				<h2 class="text-center">Get Tweets</h2>
				<p class="text-center">This is a template</p>
				<p class="text-right">
					<a class="btn btn-primary btn-large" href="/">Back</a>
				</p>
			</div>
		</div>
	</div>


<div class="container-fluid">
  {% for twt in twt_list %}
    {%if (loop.index0 % 3)==0 %}
    <div class="row clearfix">
    {% endif %}
		<div class="col-md-4 column">
      <div class="thumbnail">
        {% if twt._json["entities"]["media"]|length>=1 %}
         <a><img height="150" width="150" src="{{twt._json["entities"]["media"][0]["media_url"]}}"/></a>
        {% endif %}
			<h4>
				{{twt._json["user"]["name"]}}
        <small>@{{twt._json["user"]["screen_name"]}}</small>
			</h4>
			<p>
				{{ twt.text }}
			<p>
        {% if twt._json["entities"]["media"]|length>=1 %}
				 <a class="btn" href={{ twt._json["entities"]["media"][0]["url"]}}>View details »</a>
        {% elif twt._json["entities"]["urls"]|length>=1 %}
         <a class="btn" href={{ twt._json["entities"]["urls"][0]["url"]}}>View details »</a>
         {% endif %}
			</p>
      </div>
		</div>
  {%if (loop.index0 % 3)==2 %}
  </div>
  {% endif %}
{% endfor %}
</div>


</div>
</body>
</html>
